@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import 'tailwindcss';
@config '../tailwind.config.js';
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

* {
	font-family: 'Outfit Variable', sans-serif;
}
