name: Development - Pull Request
permissions:
  contents: read
on:
  pull_request:
    branches:
      - main

jobs:
  lint-format:
    name: Linting and Formatting Checks
    uses: ./.github/workflows/lint-and-format.yml
  unit-tests:
    name: Unit tests
    uses: ./.github/workflows/tests.yml
